<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 서재
    </title>
    <link rel="stylesheet" href="seojae.css">
    <link rel="stylesheet" href="mainmenu.css">
    
</head>
<body>
    <div class="main-menu-container">
        <div class="menu-left">
            <a href="">
                <img src="image/로고.png" alt="로고 버튼" class="logo-button">
            </a>
            <label class="main-menu-label" onclick="window.location.href=''">홈</label>
            <label class="main-menu-label" onclick="window.location.href=''">피드</label>
            <label class="main-menu-label" onclick="window.location.href=''">검색</label>
            <label class="main-menu-label" onclick="window.location.href=''">내서재</label>
        </div>
        <div class="menu-right">
            <a href="">
                <img src="image/알람 아이콘.png" alt="알람 버튼" class="alarm-button">
            </a>

            <a href="">
                <img src="image/로그아웃버튼.png" alt="로그아웃 버튼" class="logout-button">
            </a>

        </div>
 
    </div>

    <div class="divider"></div>
    <div class="up-menu-container">
        <div class="profile-container">
            <div class="profile-image">
                <img src="image/프로필 사진.png">
            </div>
            <div class="name-follow-container">
                <label class="wname">홍길동의 서재</label>
                <label class="follow">팔로잉+ 팔로워+</label>
            </div>

        </div>
    </div>
    
</body>
</html>